*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(../img/login-min.jpg);
	background-size: cover;
	background-repeat:no-repeat ;
}
h3{
	font-family: 'Arial';
	font-size: 25pt;
	letter-spacing: 1px;
	width: 100%;
	background: #0774bbd1;
	padding: 15px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	border-radius: 10px;

}
#container{
	background:#5d6d7e73;
	width: 100%;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
#container form{
	background: #ffffff8c;
	width: 400px;
	padding: 10px;
	border-radius: 10px;
}

#container form img{
	margin: 15px auto;
	text-align: center;
	display: block;
}
#container form input{
	width: 90%;
	padding: 5px;
	font-size: 16pt;
	display: block;
	margin: 25px auto;
	border-radius: 5px;
	border: 1px solid  #85929e;
	text-align: center;
	background: #92b3b361;
}

#container form input[type="submit"]{
	background:  #52be80;
	padding: 10px;
	color: #FFF;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
}
.alert{
	font-family: 'Arial';
	font-size: 16px;
	text-align: center;
	color: #d62626;
	font-weight: bold;
	
	
}


	
	
	
@media screen and (max-width:540px ){
	#container form{
		width: 90%;
	}
	.alert{
		padding: 8px;
		border-radius: 50px;
	}
}
@media screen and (max-width:290px ){
	#container form{
		
		height: 59%;
		
	}
	h3{
		font-size: 13pt;
		
	}
	#container form img{
	margin: 0px auto;
		height: 95px;}
		#container form input{
			font-size: 14pt;
			margin-top: 14px;

		}
		#container form input[type="submit"]{
			margin: -9px auto;
			padding: 8px;
			font-size: 11pt;

			
		}
		.alert{
			margin: -22px;
			margin-bottom: 13px;
			font-size: 15px;
			font-weight: 300;
			margin-left: -7px;
    		margin-right: -5px;
		}
		
}


@media only screen and (orientation: portrait){
	/* .alert {
		padding-top: 20px;
	} */
}
